@main{
<div class="container">
	<div class="section no-pad-bot">
		<div class="container">
			<h1 class="header center grey-text darken-4-text">Bem vindo a
				sua biblioteca</h1>
			<div class="card">
				<div class="card-content">
					<form class="col s12" action="@routes.PersonCRUD.login()"
						method="post">
						<div class="row">
							<div class="input-field col s12">
								<i class="mdi-action-account-circle prefix"></i>
								<input id="user" name="user" type="text"> <label
									for="name">Digite seu login</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<i class="mdi-communication-vpn-key prefix"></i>
								<input id="password" name="password" type="password"> <label
									for="password">Digite sua senha</label>
							</div>
						</div>
						<div class="card-action">
							<a class="waves-effect waves-light btn white-text"
								href="@routes.PersonCRUD.neew()">Cadastre-se</a>
							<div class="right">
								<button
									class="right-align btn waves-effect waves-light deep-orange darken-2"
									type="submit">Entrar <i class="mdi-content-send"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
}
